extends ../layout

block content
    .flex
        .col
            h3= title
            img(src=urlAvatar)
            p= email
            if (hasErr)
                p.error-alert= error
            form(action="/admin/profile/" + id + "/uploadavatar", method="post", enctype="multipart/form-data")
                input(type="file", name="uploadAvatar")
                input(type="submit", value="submit")
        .col
            form(method="post", enctype="multipart/form-data")
                h5 Add Post
                input(type="file", name="uploadPostPreview", required, multiple="multiple")
                br
                input(type="text", name="title", required, placeholder="Title")
                br
                input(type="text", name="label", required, placeholder="Label")
                br
                textarea(required, name="text" placeholder="Post text")
                br
                input(type="submit", value="Add")
            each post in posts
                hr
                form(action="/admin/profile/" + id + "/delpost/" + post._id, method="post")
                    h3= post.title
                    each imgUrl in post.photoUrl
                        img(src=imgUrl)
                    p= post.description
                    p= post.label
                    button(type="submit") Delete post