extends ../layout

include ../mixins/modals

block content
    .row
        .col-md-3
            .thumbnail
                h1.text-center= title
                if urlAvatar
                    img.img-rounded.avatar(src=urlAvatar, alt="Avatar")
                .caption
                    h3= name
                    p Email: #{email}
                    .row.margin-bottom-10
                        .col-sm-12
                            button.btn.btn-primary.btn-sm(type="button", data-toggle="modal", data-target="#change-avatar") Change avatar
                    .row.margin-bottom-10
                        .col-sm-12
                            button.btn.btn-primary.btn-sm(type="button", data-toggle="modal", data-target="#change-personal-data") Change personal data
                    .row.margin-bottom-10
                        .col-sm-12
                            button.btn.btn-primary.btn-sm(type="button", data-toggle="modal", data-target="#change-password") Change password
        .col-md-9
            form(method="post", enctype="multipart/form-data")
                h5 Add Post
                input(type="file", name="uploadPostPreview", required, multiple="multiple")
                br
                input(type="text", name="title", required, placeholder="Title")
                br
                input(type="text", name="label", required, placeholder="Label")
                br
                textarea(required, name="text" placeholder="Post text")
                br
                input(type="submit", value="Add")
            each post in posts
                hr
                div
                    h3= post.title
                    each imgUrl in post.photoUrl
                        .img-wrap
                            img(src=imgUrl)
                    p Added #{post.date}
                    p= post.description
                    p= post.label
                    form(action="/admin/profile/" + id + "/delpost/" + post._id, method="post")
                        button(type="submit") Delete post
    +changeAvatar
    +changePersonalData
    +changePassword