extends ../layout

include ../mixins/modals
include ../mixins/nav

block content
    +navigation
    .row
        .col-md-3.col-sm-12
            .thumbnail
                h1.text-center= title
                if urlAvatar
                    img.img-rounded.avatar(src=urlAvatar, alt="Avatar")
                .caption
                    h3= name
                    p Email: #{email}
                    .row.margin-bottom-10
                        .col-sm-12
                            button.btn.btn-primary.btn-sm(type="button", data-toggle="modal", data-target="#change-avatar") Change avatar
                    .row.margin-bottom-10
                        .col-sm-12
                            button.btn.btn-primary.btn-sm(type="button", data-toggle="modal", data-target="#change-personal-data") Change personal data
                    .row.margin-bottom-10
                        .col-sm-12
                            button.btn.btn-primary.btn-sm(type="button", data-toggle="modal", data-target="#change-password") Change password
        .col-md-9.col-sm-12
            if hasErr
                .row
                    .col-sm-12
                        p.alert.alert-danger= error
            ul.nav.nav-tabs(role="tablist")
                li(role="presentation", class=posts ? "active" : "")
                    a(href="/admin/profile/" + id + "/posts") Posts
                li(role="presentation", class=posts ? "" : "active")
                    a(href="/admin/profile/" + id + "/addpost") Add post

            block posts

    +changeAvatar
    +changePersonalData
    +changePassword