extends layout

block content
    h1= title
    p Welcome to #{title} #{name}
    hr
    div.posts
        each post in posts
            h3= post.title
            each imgUrl in post.photoUrl
                img(src=imgUrl)
            p= post.description
            p= post.label
      
